@mixin coloredElemenents($list...) {
  .div {
    width: 100px;
    display: inline-block;
    
    $colors: ();

    @for $i from 1 to length($list) {
      $colors: append($colors, $i);
      &:nth-child(#{$i}) {
        color: rgb($i, $i, $i);
        background: nth($list, $i);
      }
    }
  }
}

@include coloredElemenents(Red,Maroon,Yellow,Olive,Lime,Green,Aqua,Teal,Blue,Navy);
