<template>
  <div class="wrapper">
    <b-form-select v-model="selected">
      <option :value="null">Please select a font</option>
      <option
        v-for="(item, index) in items"
        :value="item.family"
        v-bind:key="index"
      >{{ item.family }}</option>
    </b-form-select>
    <div v-if="selected">
      <div class="mt-3">
        Selected font:
        <strong :style="`font-family: ${selected}`">{{ selected }}</strong>
      </div>
      <b-form-textarea
        id="textarea"
        v-model="text"
        placeholder="Enter something..."
        :style="`font-family: ${selected}`"
        rows="6"
        max-rows="9"
      ></b-form-textarea>
    </div>
  </div>
</template>


<script>
import axios from "axios";
import WebFontLoader from "webfontloader";

const apiKey = "AIzaSyCJE33t7XP6AZqO62xWxMsjedXbzDTFmfs";
const url = `https://www.googleapis.com/webfonts/v1/webfonts?key=${apiKey}`;
const maxCount = 50;

export default {
  data() {
    return {
      selected: null,
      text: null,
      items: null,
      status: "pending",
      error: false
    };
  },
  mounted() {
    axios
      .get(url)
      .then(response => {
        const items = response.data.items;
        this.items = items.slice(0, maxCount);
      })
      .catch(() => {
        this.error = true;
      })
      .finally(() => (this.status = "done"));
  },
  watch: {
    selected: function(value) {
      value &&
        WebFontLoader.load({
          google: {
            families: [`${this.selected}`]
          }
        });
    }
  }
};
</script>

<style lang="scss">
.wrapper {
  margin: 0 auto;
  width: 400px;
  padding: 16px;
}

.mt-3 {
  padding: 16px;
  font-size: 16px;
}

#textarea {
  font-size: 18px;
}
</style>