<template>
  <div id="app">
    <FontPicker />
  </div>
</template>

<script>
import FontPicker from "./components/FontPicker.vue";

export default {
  name: "app",
  components: {
    FontPicker
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
